mkdocs-material==9.*
mkdocs-git-revision-date-localized-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-authors-plugin
mkdocs-rss-plugin
material-plausible-plugin
mkdocs-nav-weight
mdx_truly_sane_lists
mkdocs-awesome-pages-plugin
mkdocs-drawio-file
mkdocs-macros-plugin
mkdocs-minify-plugin

# Requirements for core
jinja2~=3.0
markdown~=3.2
mkdocs~=1.6
mkdocs-material-extensions~=1.3
pygments~=2.16
pymdown-extensions~=10.2

# Requirements for plugins
babel~=2.10
colorama~=0.4
paginate~=0.5
regex>=2022.4
requests~=2.26